body {
    background-color: #F8F8F8;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 64px;
    align-items: center;
    z-index: -1;
    font-family: 'Lato', sans-serif;
    --text-color: #06040A;
    color: var(--text-color);
}

.main-container {
    width: 1308px;
    justify-content: center;
}

.header-container {
    /* width: 694px; */
    display: flex;
}

.but-disc-container {
    padding-left: 38px;
    margin-top: 32px;
    border-left: 6px solid var(--text-color);
}

.header-1,
.header-2 {
    font-size: 72px;

    font-weight: 600;
}

.header-2 {
    padding-left: 64px;
}

.description {
    font-size: 24px;
}

.submit {
    width: 222px;
    height: 66px;
    background-color: var(--text-color);
    color: white;
    font-size: 22px;
    border: none;
    border-radius: 40px;
    margin-top: 32px;
    cursor: pointer;
}

.img-conyainer {
    position: absolute;
    top: 64px;
    right: 32px;
}

.galery {
    display: flex;
    margin-top: 76px;
}

.post {
    width: 327px;
}

#one,
#three {
    background-color: #FFFFFF;
}

#two,
#for {
    background-color: #E2E7F1;
}

.title-post {
    font-size: 24px;
    font-weight: Semibold;
    padding-left: 36px;
    padding-top: 48px;
}

.short-description {
    margin-top: 16px;
    margin-bottom: 48px;
    margin-left: 36px;
    margin-right: 36px;
    font-size: 18px;
    font-weight: lighter;
}